name: Bundle Types

on:
  push:
    tags:
      - 'v*' # Run workflow on version tags, e.g. v1.0.0.

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# These permissions are needed to assume roles from Github's OIDC.
permissions:
  contents: read
  id-token: write

jobs:
  bundle-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - uses: grafana/plugin-actions/bundle-types@main # zizmor: ignore[unpinned-uses]
        with:
          entry-point: ./src/exposedComponents/types.ts
          ts-config: ./tsconfig-for-bundle-types.json
